<%if @person %>
  <% if @person.errors.any? %>
    <div id="error_explanation" class="col-md-12">
      <div class="alert alert-danger" role="alert">
        The form contains <%= pluralize(@person.errors.count, "error") %>.
      </div>
      <ul>
        <% @person.errors.each do |attr, msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>