// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.delivery_options{
	padding-left:15px;
	margin-bottom: 1em;
	label{
		margin-right:15px;
	}
}

#deleteProductFromSession, .checkouts{
	a, a:hover {
		text-decoration: none;
		text-color: white;
		color: white;
	}
}