// Place all the styles related to the OrgCompanies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grayMediumLight: #eaeaea;
$photoGray: #B4B4B4;

/* Show Page */
h5 {
	margin-bottom: 15px;
  display:inline;
}

div.companies_show{
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

#editCompanyInfoButton {
	a {
		text-decoration: none;
		text-color: white;
		color: white;
	}
}

#delivererInfo{
	span{
		display:block;
		clear:both;
	}
}

.deliverer-box{
	margin: 10px 0 5px
}

button#editCompanyInfoButton{
  margin-top:10px
}

/* Preferred Deliverers  */

.pref_deliverers {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayMediumLight;
    &:last-child {
      border-bottom: 1px solid $grayMediumLight;
    }
    div.price{
      color: #32cd32;
    }
  }
}

.removeDeliverer{
  margin-top:10px;
}

.displayCompanyLogo{
  width: 150px;
  height: 150px;
  display: block;
  border: 5px ridge white;
  margin: 5px 0 0 0;
}

.companyLogo{
  p {
    text-align: center;
    color: $photoGray;
    font-size: 14px;
  }
  .companyPhotoUpload {
    display: block;
    font-size: 32px;
    margin: 35px auto 0 auto;
    text-align: center;
    color: $photoGray;
  }
}

.companyPhoto{
  width: 150px;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
  height: 150px;
  cursor: pointer;
}

div.companyPhotoPreview{
  border: 1px solid $photoGray;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 150px;
  cursor: pointer;
  background-repeat: no repeat;
  background-position: center;
  background-size: 100% 100% !important;
  text-align: center;
  .companyPhotoUpload {
    font-size: 32px;
    margin-top: 35px;
    color: $photoGray;
  }
  .fa {
    display: inline-block;
    text-rendering: auto;
  }
  
  p {
    color: $photoGray;
    font-size: 16px;
  }
}

input#uploadCompanyAvatar{
  display: none;
}

p.deleteCompanyPhoto{
  color: #DA7364;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}