// Place all the styles related to the OrgPeople controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$photoGray: #B4B4B4;
$brand-primary: #00c38b;
$brand-danger: #d9625a;

.profilePhoto{
	width: 150px;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
	height: 150px;
	border-radius: 75px;
	cursor: pointer;
}

div.photoPreview{
	border: 1px solid $photoGray;
	width: 150px;
	margin: 0 auto;
	margin-bottom: 10px;
	height: 150px;
	border-radius: 75px;
	cursor: pointer;
	background-repeat: no repeat;
	background-position: center;
	background-size: 100% 100% !important;
	text-align: center;
	.photoUpload {
		font-size: 32px;
		margin-top: 35px;
		color: $photoGray;
	}
	.fa {
		display: inline-block;
		text-rendering: auto;
	}
	p {
		color: $photoGray;
		font-size: 16px;
	}
}
input#uploadAvatar{
	display: none;
}
p.deletePhoto{
	color: #DA7364;
	cursor: pointer;
	text-align: center;
	margin-bottom: 10px;
}

.register_error, .shared_links, .signin_remember_me {
	margin-bottom: 10px;
}

.payment_settings{
	center p {
		margin:0;
	}
}

.tos {
	font-weight: normal;
}

.account-status table {
  display: inline-block;
  vertical-align: top;

  .label {
    background: transparent;
    font-weight: normal;
    font-size: 14px;
    // padding: 5px 10px;
  }
  .label-primary { color: $brand-primary; }
  .label-danger { color: $brand-danger; }
}

.list-group {
  margin-bottom: 10px;
}
.list-group:last-child {
  margin-bottom: 0;
}
.list-group-item {
  border-color: #EEE;
  h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .form-group:last-child { margin-bottom: 0; }
}

.dob select{
	width: auto;
	display: inline;
}

.stripe-save-info{
	margin: 20px 0 50px 0;
}